{% extends 'index.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card p-4 shadow-sm" style="width: 35rem;background: rgba(255, 255, 255, 0.215);backdrop-filter: blur(10px); box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);">
            <h1>Contact</h1>
            <h4>LinkedIn: <a href="https://www.linkedin.com/in/abhinav-naik-6520592b4/">Abhinav Naik </a></h4>
            <h4>Email: <a href="mailto:helloitsmeabhinav2003@gmail.com">helloitsmeabhinav2003@gmail.com</a>
        </div>
    </div>
</div>  
{% endblock %}